.content {
	width: 1000px;
	margin: 0 auto;

}


* { margin: 0; padding: 0;}


body { overflow-x: hidden; }

.h {
	text-align:center;
}

 .liout {
    background-color: #FFF;
    border: 1px solid black;
    height: 80px;
    width: 80%;
    margin: 0px auto;
    padding: 20px;

}
.goods_img {
    float: left;
    border: 1px solid #CCC;
    margin-right: 20px;
    width: 85px;
    height: 85px;
}
.goods_num {
    padding-top: 40px;
}

.goods_list .num {
    float: right;
}
.goods_list .num span{
    padding: 0 20px;
}


.goods_list .num .jian {
	border-bottom: 1px solid #CCC;
    width: 20px;
    height: 20px;
}

.goods_list .num .jia {
	border-bottom: 1px solid #CCC;
    width: 20px;
    height: 20px;
}

.input {
    border: 1px solid #000;
    width: 50px;
    height: 30px;
    float:right;
    font-size: 20px;
}

.pay {
	margin: 20px;
	width: 550px;
	float: right;
    background-color: #FFF;


}
.pay .totalNum {
    color: #F02028;
}

.pay button {

    width: 100px;
    height: 40px;
    background-color: #FF3334;
    color: #FFF;
    font-size: 20px;
    
}


#div1{ width: 1000px; height: 200px; position: relative; margin: 20px auto; overflow: hidden; }

#div1 ul { width: 80%; height: 120px; position: relative; margin: 0px 180px;}

#div1 ul li { padding: 5px; }

p { font-size: 18px; }

.time {margin-top: 90px; margin-bottom: 50px; text-align:center;}
